.sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #0fc99e;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
m2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #0fc99e;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
