.music-player {
  margin-bottom: 20px;
}
body {
  background-color: black;
  color: white;
}
#logo{
  border-radius: 25px;
  max-width: 373px;
}
#counter{
  position: fixed;
  font-size: 7em;
  top: 10px;
  left: 10px;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 2px 2px 8px #FF0000;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1;
}
